{% load static %}
<!-- Search-->
<form class="site-search" method="get" action="{% url 'web:search_result' %}">
   <input type="text" name="search" placeholder="Type to search...">
   <div class="search-tools"><span class="clear-search">Clear</span><span class="close-search"><i class="icon-cross"></i></span></div>
</form>
<div class="site-branding">
   <div class="inner">
      <!-- Site Logo-->
      <a class="site-logo" href="{% url 'web:home' %}"><img src="{% static 'shop/img/logo/logo.png' %}" alt="Unishop"></a>
   </div>
</div>
<!-- Main Navigation-->
<nav class="site-menu">
   <ul>
      <li class="has-megamenu active">
         <a href="{% url 'web:home' %}"><span>Home</span></a>
      </li>
      {% for shop_department in shop_departments %}
      <li class="has-megamenu"><a href="#"><span>{{ shop_department.name }}</span></a>
         <ul class="mega-menu">
            <li><span class="mega-menu-title">Top Categories</span>
               <ul class="sub-menu">
               {% for category in shop_department.categories.all %}
               <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
               {% endfor %}
               </ul>
            </li>
            <li><span class="mega-menu-title">Brands</span>
               <ul class="sub-menu">
                  <li><a href="#">Junior's Shop</a></li>
                  <li><a href="#">Swim Shop</a></li>
                  <li><a href="#">Athletic Shop</a></li>
                  <li><a href="#">Outdoor Shop</a></li>
                  <li><a href="#">Luxury Shop</a></li>
                  <li><a href="#">Accessories Shop</a></li>
               </ul>
            </li>
            <li>
               <section class="promo-box" style="background-image: url(img/banners/02.jpg);">
                  <span class="overlay-dark" style="opacity: .4;"></span>
                  <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                     <h4 class="text-light text-thin text-shadow">New Collection of</h4>
                     <h3 class="text-bold text-light text-shadow">Sunglasses</h3><a class="btn btn-sm btn-primary" href="#">Shop Now</a>
                  </div>
               </section>
            </li>
            <li>
               <section class="promo-box" style="background-image: url(img/banners/03.jpg);">
               <!-- Choose between .overlay-dark (#000) or .overlay-light (#fff) with default opacity of 50%. You can overrride default color and opacity values via 'style' attribute.--><span class="overlay-dark" style="opacity: .45;"></span>
               <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                  <h3 class="text-bold text-light text-shadow">Limited Offer</h3>
                  <h4 class="text-light text-thin text-shadow">save up to 50%!</h4>
                  <a class="btn btn-sm btn-primary" href="#">Learn More</a>
               </div>
               </section>
            </li>
         </ul>
      </li>
      {% endfor %}
   </ul>
</nav>
<!-- Toolbar-->
<div class="toolbar">
   <div class="inner">
      <div class="tools">
         <div class="search"><i class="icon-search"></i></div>
         <div class="account">
            {% if request.user.is_authenticated %}
            <a href="#"></a><i class="icon-head"></i>
            <ul class="toolbar-dropdown">
                <li class="sub-menu-user">
                   <div class="user-ava">
                      <img src="{% static 'shop/img/account/user-ava-sm.jpg' %}" alt="Daniel Adams">
                   </div>
                   <div class="user-info">
                      <h6 class="user-name">{{ request.user.first_name }} {{ request.user.last_name}}</h6>
                      <span class="text-xs text-muted">290 Reward points</span>
                   </div>
                </li>
                <li><a href="{% url 'users:profile' %}">My Profile</a></li>
                <li><a href="account-orders.html">Orders List</a></li>
                <li><a href="account-wishlist.html">Wishlist</a></li>
                <li class="sub-menu-separator"></li>
                <li><a href="{% url 'auth:logout' %}"> <i class="icon-unlock"></i>Logout</a></li>
            </ul>
            {% else %}
            <a href="{% url 'auth:login' %}"></a><i class="icon-head"></i>
            {% endif %}
         </div>
         {% if request.user.is_authenticated %}
         <div class="cart">
            <a href="cart.html"></a>
            <i class="icon-bag"></i>
            <span class="count">3</span>
            <span class="subtotal">$289.68</span>
            <div class="toolbar-dropdown">
               <div class="dropdown-product-item">
                  <span class="dropdown-product-remove">
                     <i class="icon-cross"></i>
                  </span>
                  <a class="dropdown-product-thumb" href="shop-single.html">
                  <img src="img/cart-dropdown/01.jpg" alt="Product"></a>
                  <div class="dropdown-product-info">
                     <a class="dropdown-product-title" href="shop-single.html">Unionbay Park</a><span class="dropdown-product-details">1 x $43.90</span></div>
               </div>
               <div class="dropdown-product-item"><span class="dropdown-product-remove"><i class="icon-cross"></i></span><a class="dropdown-product-thumb" href="shop-single.html"><img src="img/cart-dropdown/02.jpg" alt="Product"></a>
                 <div class="dropdown-product-info"><a class="dropdown-product-title" href="shop-single.html">Daily Fabric Cap</a><span class="dropdown-product-details">2 x $24.89</span></div>
               </div>
               <div class="dropdown-product-item"><span class="dropdown-product-remove"><i class="icon-cross"></i></span><a class="dropdown-product-thumb" href="shop-single.html"><img src="img/cart-dropdown/03.jpg" alt="Product"></a>
                 <div class="dropdown-product-info"><a class="dropdown-product-title" href="shop-single.html">Haan Crossbody</a><span class="dropdown-product-details">1 x $200.00</span></div>
               </div>
               <div class="toolbar-dropdown-group">
                 <div class="column"><span class="text-lg">Total:</span></div>
                 <div class="column text-right"><span class="text-lg text-medium">$289.68&nbsp;</span></div>
               </div>
               <div class="toolbar-dropdown-group">
                  <div class="column"><a class="btn btn-sm btn-block btn-secondary" href="cart.html">View Cart</a></div>
                  <div class="column"><a class="btn btn-sm btn-block btn-success" href="checkout-address.html">Checkout</a></div>
               </div>
            </div>
         </div>
         {% endif %}
      </div>
   </div>
</div>