{% extends "shop/layouts/base.html" %}

{% block content %}
<!-- Page Title-->
<div class="page-title">
   <div class="container">
      <div class="column">
         <h1>Reset Password</h1>
      </div>
   </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
   <div class="row">
      <div class="col-lg-8">
         <div class="padding-top-2x mt-2 hidden-lg-up"></div>
         {% if validlink %}
         <form class="row" method="post">
            {% csrf_token %}
            <div class="col-md-12">
               <div class="form-group">
                  <label for="account-pass">New Password</label>
                  <input class="form-control" type="password" name="new_password1" id="account-pass">
               </div>
            </div>
            <div class="col-md-12">
               <div class="form-group">
                  <label for="account-confirm-pass">Confirm Password</label>
                  <input class="form-control" type="password" name="new_password2" id="account-confirm-pass">
               </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">Reset Password</button>
         </form>
         {% else %}
            <h1>Invalid Link</h1>
         {% endif %}
      </div>
   </div>
</div>
{% endblock %}