{% extends "shop/layouts/base.html" %}

{% block content %}
<!-- Page Title-->
<div class="page-title">
   <div class="container">
      <div class="column">
         <h1>Password Recovery</h1>
      </div>
      <div class="column">
         <ul class="breadcrumbs">
            <li><a href="index.html">Home</a>
            </li>
            <li class="separator">&nbsp;</li>
            <li><a href="account-orders.html">Account</a>
            </li>
            <li class="separator">&nbsp;</li>
            <li>Password Recovery</li>
         </ul>
      </div>
   </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
   <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
         <h2>Forgot your password?</h2>
         <form class="card mt-4">
            {% csrf_token %}
            <div class="card-body">
               <div class="form-group">
                  <label for="email-for-pass">Enter your email address</label>
                  <input class="form-control" type="text" name="email" id="email-for-pass" required>
                  <small class="form-text text-muted">Type in the email address you used when you registered with Unishop. Then we'll email a code to this address.</small>
               </div>
            </div>
            <div class="card-footer">
               <button class="btn btn-primary" type="submit">Send Email</button>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}