<a class="list-group-item with-badge" href="account-orders.html">
   <i class="icon-bag"></i>Orders
   <span class="badge badge-primary badge-pill">6</span>
</a>
<a class="list-group-item active" href="{% url 'users:profile' %}">
   <i class="icon-head"></i>Profile
</a>
<a class="list-group-item" href="account-address.html">
   <i class="icon-map"></i>Addresses
</a>
<a class="list-group-item with-badge" href="{% url 'users:wish_list' %}">
   <i class="icon-heart"></i>Wishlist
   <span class="badge badge-primary badge-pill">3</span>
</a>
<a class="list-group-item with-badge" href="account-tickets.html">
   <i class="icon-tag"></i>My Tickets
   <span class="badge badge-primary badge-pill">4</span>
</a>