<aside class="user-info-wrapper">
   <div class="user-cover" style="background-image: url(img/account/user-cover-img.jpg);">
   </div>
   <div class="user-info">
      <div class="user-avatar">
         <a class="edit-avatar" href="#"></a>
         <img src="img/account/user-ava.jpg" alt="User">
      </div>
      <div class="user-data">
         <h4>Daniel Adams</h4>
         <span>Joined February 06, 2017</span>
      </div>
   </div>
</aside>
<nav class="list-group">
   <a class="list-group-item with-badge" href="account-orders.html">
      <i class="icon-bag"></i>Orders
      <span class="badge badge-primary badge-pill">6</span>
   </a>
   <a class="list-group-item {% if active_profile %} active {% endif %}" href="{% url 'users:profile' %}">
      <i class="icon-head"></i>Profile
   </a>
   <a class="list-group-item" href="account-address.html">
      <i class="icon-map"></i>Addresses
   </a>
   <a class="list-group-item with-badge {% if active_wishlist %} active {% endif %}" href="{% url 'users:wish_list' %}">
      <i class="icon-heart"></i>Wishlist
      <span class="badge badge-primary badge-pill">{{ request.user.products.count }}</span>
   </a>
   <a class="list-group-item with-badge" href="account-tickets.html">
      <i class="icon-tag"></i>My Tickets
      <span class="badge badge-primary badge-pill">4</span>
   </a>
</nav>